BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "deb_0" SITE "12" ;
LOCATE COMP "deb_1" SITE "13" ;
LOCATE COMP "deb_2" SITE "15" ;
LOCATE COMP "sw_vref" SITE "19" ;
LOCATE COMP "so_dat" SITE "83" ;
LOCATE COMP "sw_dn" SITE "38" ;
LOCATE COMP "sw_in" SITE "35" ;
LOCATE COMP "sw_rst" SITE "36" ;
LOCATE COMP "sw_up" SITE "37" ;
LOCATE COMP "sw_vref_n" SITE "14" ;
LOCATE COMP "comp_ext" SITE "18" ;
LOCATE COMP "mclk" SITE "3" ;
IOBUF PORT "mclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "comp_ext" IO_TYPE=LVCMOS33 ;
IOBUF PORT "deb_0" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "deb_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "deb_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "so_dat" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_dn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_up" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_vref" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw_vref_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "con_start" SITE "85" ;
IOBUF PORT "con_start" IO_TYPE=LVCMOS33 ;
LOCATE COMP "vref_su" SITE "63" ;
LOCATE COMP "si_dat" SITE "84" ;
IOBUF PORT "si_dat" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=NA ;
IOBUF PORT "vref_su" IO_TYPE=LVCMOS33 ;
